@model IList<Capstone_Museum.Models.SearchModel>
@{
    ViewData["Title"] = "Search";
}

<!DOCTYPE html>
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if IE 9]>
<html id="ie9" lang="en-US">
<![endif]-->
<!--[if !IE]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
    <title>Search Page | The University of Alabama Research and Collections</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,300,600,700" rel="stylesheet" />
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../css/style.min.css" rel="stylesheet" />
    <link href="../../css/custom.css" rel="stylesheet" />
</head>
<body>
    @*Justified Tabs Section*@
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active">
            <a href="#generalSearch-6" role="tab" data-toggle="tab">General Search</a>
        </li>
        <li>
            <a href="#lifeSciences-6" role="tab" data-toggle="tab">Life Sciences</a>
        </li>
        <li>
            <a href="#earthSciences-6" role="tab" data-toggle="tab">Earth Sciences</a>
        </li>
        <li>
            <a href="#history-6" role="tab" data-toggle="tab">History and Ethnology</a>
        </li>
    </ul>
    @*General Search Tab*@

<div class="tab-content">

    <div class="row">
        <div class="col-md-12">
            <div class="content-box box-img bg-light no-top-spacing">
                <div class="row no-gutter">
                    <div class="col-md-6 text-left">
                        <div class="box-body margin-top-60">
                            <h1>General Search: </h1>
                            <div align="center">

                                
                                <form>
                                    Keyword (s):
                                    <input type="text" name="General Search">
                                    <input type="submit" value="Search" />
                                </form>

                            </div>
                        </div> <!-- .box-body -->
                    </div> <!-- .col-md-6 -->

                    <div class="col-md-6">
                        <img class="img-responsive" src="../img/bryantdenny01_800.jpg" alt="" />
                    </div> <!-- .col-md-6 -->
                </div> <!-- .row -->
            </div> <!-- .box-img -->
        </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
    <div class="tab-pane active" id="generalSearch-6">
        @*<h1>General Search: </h1>

            <div align="center">
                <form>
                    Keyword (s):
                    <input type="text" name="General Search">
                    <button type="button">Search</button>
                </form>

            </div>*@
    </div>
    @*Life Sciences Tab Content*@
    @using (Html.BeginForm("Index", "SearchResults", FormMethod.Get))
    {
        <div class="tab-pane" id="lifeSciences-6">
            <h1>Search the Life Sciences Collections : </h1>

            <hr>

            <div class="col-md-3">
                Collection:
            </div>
            <div class="col-md-3">
                <div>
                    @Html.CheckBox("Amphibian")
                    <label for="Amphibian">Amphibian/Reptile</label>
                </div>
                <div>
                    @Html.CheckBox("bird")
                    <label for="Bird">Bird</label>
                </div>
                <div>
                    @Html.CheckBox("annelid")
                    <label for="Annelid">Annelid</label>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    @Html.CheckBox("crustacea")
                    <label for="Crustacea">Crustacea</label>
                </div>
                <div>
                    @Html.CheckBox("fish")
                    <label for="Fish">Fish</label>
                </div>
                <div>
                    @Html.CheckBox("insect")
                    <label for="Insect">Insect</label>
                </div>
            </div>
            <div>
                <div>
                    @Html.CheckBox("invertebrate")
                    <label for="Invertebrate">Invertebrate</label>
                </div>
                <div>
                    @Html.CheckBox("mammal")
                    <label for="Mammal">Mammal</label>
                </div>
                <div>
                    @Html.CheckBox("mollusc")
                    <label for="Mollusc">Mollusc</label>
                </div>
            </div>

            <section class="site-content" id="skip-to-content">
                <div class="container">
                    <div class="row">

                        @*<div class="col-md-9">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                                                Collapsible Group Item #1
                                                <i class="fa fa-lg fa-angle-down pull-right"></i>
                                                <i class="fa fa-lg fa-angle-up pull-right"></i>
                                            </a>
                                        </h4>
                                    </div> <!-- .panel-heading -->
                                    <div id="collapse-1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div> <!-- .panel-body -->
                                    </div> <!-- #collapse-1 -->
                                </div> <!-- .panel -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
                                                Collapsible Group Item #2
                                                <i class="fa fa-lg fa-angle-down pull-right"></i>
                                                <i class="fa fa-lg fa-angle-up pull-right"></i>
                                            </a>
                                        </h4>
                                    </div> <!-- .panel-heading -->*@

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-2-6" class="collapsed">
                                        <i class="fa fa-fw fa-lg fa-plus"></i>
                                        <i class="fa fa-fw fa-lg fa-minus"></i>
                                        Advanced Search
                                    </a>
                                </h4>
                            </div> <!-- .panel-heading -->

                            <div id="collapse-2-6" class="panel-primary">
                                <div class="panel-body">
                                    <table cellpadding="5">
                                        <tr>
                                            <th>Taxonomy:</th>
                                            <th></th>
                                        </tr>

                                        <tr>
                                            <td>
                                                Any Taxon, ID, Common Name:
                                            </td>

                                            <td>
                                                @Html.TextBox("anyTax")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Identification:
                                            </td>
                                            <td>
                                                @Html.TextBox("Identification")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Common Name:
                                            </td>
                                            <td>
                                                @Html.TextBox("commonName")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Kingdom:
                                            </td>
                                            <td>
                                                @Html.TextBox("Kingdom")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Phylum:
                                            </td>
                                            <td>
                                                @Html.TextBox("Phylum")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Class:
                                            </td>
                                            <td>
                                                @Html.TextBox("Class")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>

                                                Order:
                                            </td>
                                            <td>
                                                @Html.TextBox("Order")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Family:
                                            </td>
                                            <td>
                                                @Html.TextBox("Family")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Subfamily:
                                            </td>
                                            <td>
                                                @Html.TextBox("subfamily")
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>
                                                Tribe:
                                            </td>
                                            <td>
                                                @Html.TextBox("tribe")
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Subtribe:
                                            </td>
                                            <td>
                                                @Html.TextBox("subtribe")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Genus:
                                            </td>
                                            <td>
                                                @Html.TextBox("Genus")
                                            </td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td>
                                                Species:
                                            </td>
                                            <td>
                                                @Html.TextBox("sciName")
                                            </td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td>
                                                Subspecies:
                                            </td>
                                            <td>
                                                @Html.TextBox("subspecies")
                                            </td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td>
                                                Author:
                                            </td>
                                            <td>
                                                @Html.TextBox("author")
                                            </td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td>
                                                Determiner:
                                            </td>
                                            <td>
                                                @Html.TextBox("determiner")
                                            </td>
                                            <td>
                                                Year:
                                            </td>
                                            <td>
                                                @Html.TextBox("year")
                                            </td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td>
                                                Check for Synonyms:
                                            </td>
                                            <td>
                                                @Html.CheckBox("syn")
                                                <label for="Synonyms">Synonyms</label>
                                            </td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td>
                                                Check to include Parts:
                                            </td>
                                            <td>
                                                @Html.CheckBox("parts")
                                                <label for="Parts">Parts</label>
                                            </td>
                                        </tr>
                                        <tr>
                                    </table>


                                    <hr>


                                    <table cellpadding="5">
                                        <tr>
                                            <th>Speciman Related:</th>
                                            <th></th>
                                        </tr>

                                        <tr>
                                            <td>
                                                Any Identifier:
                                            </td>
                                            <td>
                                                @Html.CheckBox("anyId")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Catalog Number:
                                            </td>

                                            <td>
                                                @Html.TextBox("catalogNum")
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Accession:
                                            </td>
                                            <td>
                                                @Html.TextBox("accession")
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>
                                                GUID:
                                            </td>
                                            <td>
                                                @Html.TextBox("GUID")
                                            </td>
                                        <tr>
                                        </tr>
                                        <tr>
                                            <td>
                                                Other Identifier Type:
                                            </td>
                                            <td>
                                                @Html.TextBox("otherIdtype")
                                            </td>
                                        </tr>

                                    </table>
                                    <hr>


                                    <table cellpadding="5">
                                        <tr>
                                            <th>
                                                Locality:
                                            </th>
                                            <th>
                                                
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                Continent / Ocean:
                                            </td>

                                            <td>
                                                @Html.TextBox("Continent")
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Country:
                                            </td>

                                            <td>
                                                @Html.TextBox("Country")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Province/Territory/State:
                                            </td>
                                            <td>
                                                @Html.TextBox("State")
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                County:
                                            </td>
                                            <td>
                                                @Html.TextBox("County")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Locality Remarks:
                                            </td>

                                            <td>
                                                @Html.TextBox("Locality")
                                            </td>
                                        </tr>
                                    </table>


                                    <div class="col-md-3">
                                        <button type="button">Clear</button>
                                        @*<a href=" /SearchResults"><button type="button">Search</button></a>*@
                                    <input type="submit" value="Search" />
                                    </div>



                                </div> <!-- .panel-body -->
                            </div> <!-- #collapse-2-6 -->
                        </div><!-- .panel -->

                    </div>
                </div>
            </section>
        </div>
    }<!--End of Form-->
    @*End of lifesciences Tab*@

    @*Beginning of Earth Sciences Tab*@
<div class="tab-pane" id="earthSciences-6">
    <h1>Search the Earth & Paleontology Collections : </h1>

    <hr>
    @using (Html.BeginForm("Index", "SearchResults", FormMethod.Get))
    {
        <div style="padding-bottom:60px">

            <div class="col-md-3">
                Collection:
            </div>

            <div class="col-md-3">
                <div>
                    @Html.CheckBox("invertebrates")
                    <label for="Invertebrates">Invertebrates</label>
                </div>
                <div>
                    @Html.CheckBox("plants")
                    <label for="Plants">Plants</label>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    @Html.CheckBox("vertebrates")
                    <label for="Veterbrates">Veterbrates</label>
                </div>


                <div>
                    @Html.CheckBox("rocks")
                    <label for="Rocks and Minerals">Rocks and Minerals</label>
                </div>
            </div>
        </div>

        <section class="site-content" id="skip-to-content">
            <div class="container">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-2-6" class="collapsed">
                                    <i class="fa fa-fw fa-lg fa-plus"></i>
                                    <i class="fa fa-fw fa-lg fa-minus"></i>
                                    Advanced Search
                                </a>
                            </h4>
                        </div> <!-- .panel-heading -->

                        <div id="collapse-2-6" class="panel-primary">
                            <div class="panel-body">
                                <table cellpadding="5">
                                    <tr>
                                        <th>Taxonomy:</th>
                                        <th></th>
                                    </tr>

                                    <tr>
                                        <td>
                                            Any Taxon, ID, Common Name:
                                        </td>

                                        <td>
                                            @Html.TextBox("commonName")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Identification:
                                        </td>
                                        <td>
                                            @Html.TextBox("Identification")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Common Name:
                                        </td>
                                        <td>
                                            @Html.TextBox("commonName")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Kingdom:
                                        </td>
                                        <td>
                                            @Html.TextBox("Kingdom")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Phylum:
                                        </td>
                                        <td>
                                            @Html.TextBox("Phylum")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Class:
                                        </td>
                                        <td>
                                            @Html.TextBox("Class")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>

                                            Order:
                                        </td>
                                        <td>
                                            @Html.TextBox("Order")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Family:
                                        </td>
                                        <td>
                                            @Html.TextBox("Family")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Subfamily:
                                        </td>
                                        <td>
                                            @Html.TextBox("subfamily")
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            Tribe:
                                        </td>
                                        <td>
                                            @Html.TextBox("tribe")
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Subtribe:
                                        </td>
                                        <td>
                                            @Html.TextBox("subtribe")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Genus:
                                        </td>
                                        <td>
                                            @Html.TextBox("Genus")
                                        </td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td>
                                            Species:
                                        </td>
                                        <td>
                                            @Html.TextBox("sciName")
                                        </td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td>
                                            Subspecies:
                                        </td>
                                        <td>
                                            @Html.TextBox("subspecies")
                                        </td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td>
                                            Author:
                                        </td>
                                        <td>
                                            @Html.TextBox("author")
                                        </td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td>
                                            Determiner:
                                        </td>
                                        <td>
                                            @Html.TextBox("determiner")
                                        </td>
                                        <td>
                                            Year:
                                        </td>
                                        <td>
                                            @Html.TextBox("year")
                                        </td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td>
                                            Check for Synonyms:
                                        </td>
                                        <td>
                                            @Html.CheckBox("syn")
                                            <label for="Synonyms">Synonyms</label>
                                        </td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td>
                                            Check to include Parts:
                                        </td>
                                        <td>
                                            @Html.CheckBox("parts")
                                            <label for="Parts">Parts</label>
                                        </td>
                                    </tr>
                                    <tr>
                                </table>

                                <hr>
                                @*Geology Attribute would benefit from splitting up into 2 parts*@
                                @*First Part Age*@

                                <table cellpadding="5">
                                    <tr>
                                        <th>Age:</th>
                                        <th></th>
                                    </tr>

                                    <tr>
                                        <td>
                                            Era/Erathem:
                                        </td>
                                        <td>
                                            @Html.TextBox("era")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            System/Period:
                                        </td>

                                        <td>
                                            @Html.TextBox("period")
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Series/Epoch:
                                        </td>
                                        <td>
                                            @Html.TextBox("series")
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            Stage/Age:
                                        </td>
                                        <td>
                                            @Html.TextBox("stage")
                                        </td>
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td>
                                            Other Identifier Type:
                                        </td>
                                        <td>
                                            @Html.TextBox("otherId")
                                        </td>
                                    </tr>

                                </table>
                                <hr>


                                @*Geology Attribute would benefit from splitting up into 2 parts*@
                                @*Second Part Rock Unit*@

                                <table cellpadding="5">
                                    <tr>
                                        <th>Rock Unit:</th>
                                        <th></th>
                                    </tr>

                                    <tr>
                                        <td>
                                            Group:
                                        </td>
                                        <td>
                                            @Html.TextBox("group")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Formation:
                                        </td>

                                        <td>
                                            @Html.TextBox("formation")
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Member:
                                        </td>
                                        <td>
                                            @Html.TextBox("member")
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            Bed:
                                        </td>
                                        <td>
                                            @Html.TextBox("bed")
                                        </td>
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td>
                                            Other Identifier Type:
                                        </td>
                                        <td>
                                            @Html.TextBox("otherId")
                                        </td>
                                    </tr>

                                </table>
                                <hr>





                                <table cellpadding="5">
                                    <tr>
                                        <th>Speciman Related:</th>
                                        <th></th>
                                    </tr>

                                    <tr>
                                        <td>
                                            Any Identifier:
                                        </td>
                                        <td>
                                            @Html.TextBox("anyId")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Catalog Number:
                                        </td>

                                        <td>
                                            @Html.TextBox("catalogNum")
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Accession:
                                        </td>
                                        <td>
                                            @Html.TextBox("accession")
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            GUID:
                                        </td>
                                        <td>
                                            @Html.TextBox("GUID")
                                        </td>
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td>
                                            Other Identifier Type:
                                        </td>
                                        <td>
                                            @Html.TextBox("otherId")
                                        </td>
                                    </tr>

                                </table>
                                <hr>


                                <table cellpadding="5">
                                    <tr>
                                        <th>
                                            Locality:
                                        </th>
                                        <th>
                                           
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            Continent / Ocean:
                                        </td>

                                        <td>
                                            @Html.TextBox("Continent")
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Country:
                                        </td>

                                        <td>
                                            @Html.TextBox("Country")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Province/Territory/State:
                                        </td>
                                        <td>
                                            @Html.TextBox("State")
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            County:
                                        </td>
                                        <td>
                                            @Html.TextBox("County")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Locality Remarks:
                                        </td>

                                        <td>
                                            @Html.TextBox("localityRemarks")
                                        </td>
                                    </tr>
                                </table>


                                <div class="col-md-3">
                                    <button type="button">Clear</button>
                                    <input type="submit" value="Search" />
                                </div>



                            </div> <!-- .panel-body -->
                        </div><!-- #collapse-2-6 -->

                    </div> <!-- .panel -->
                </div>
            </div>
        </section>
    }<!--End of Form-->
        </div>
    @*End of Earth Sciences Tab*@
    @*Beginning of History and Ethnology Tabs*@
<div class="tab-pane" id="history-6">
    <h1>Search the Earth and Paleontology Collections : </h1>

    <hr>
    @using (Html.BeginForm("Index", "SearchResults", FormMethod.Get))
    {
        <div>
            <div class="col-md-1">
                Collection:
            </div>
            <div class="col-md-3">
                <div>
                    @Html.CheckBox("builtEnvObj")
                    <label for="Built Environment Objects">Built Environment Objects</label>
                </div>
                <div>
                    @Html.CheckBox("furnishing")
                    <label for="Furnishings">Furnishings</label>
                </div>
                <div>
                    @Html.CheckBox("personalObj")
                    <label for="Personal Objects">Personal Objects</label>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    @Html.CheckBox("toolsMats")
                    <label for="Tools & Equipment for Materials">Tools & Equipment for Materials</label>
                </div>
                <div>
                    @Html.CheckBox("toolsSci")
                    <label for="Tools & Equipment for Science/Technology">Tools & Equipment for Science/Technology</label>
                </div>
                <div>
                    @Html.CheckBox("toolsCom")
                    <label for="Tools & Equipment for Communication">Tools & Equipment for Communication</label>
                </div>
            </div>
            <div>
                <div>
                    @Html.CheckBox("transportationObj")
                    <label for="Distrubution & Transportation Objects">Distrubution & Transportation Objects</label>
                </div>
                <div>
                    @Html.CheckBox("comObj")
                    <label for="Communication Objects">Communication Objects</label>
                </div>
                <div>
                    @Html.CheckBox("recObj")
                    <label for="Recreational Objects">Recreational Objects</label>
                </div>

            </div>
            @*<div class="col-md-3">
                    <div>
                        <input type="checkbox" id="Unclassifiable Objects" />
                        <label for="Unclassifiable Objects">Unclassifiable Objects</label>
                    </div>

                </div>*@
        </div>

        <section class="site-content" id="skip-to-content">
            <div class="container">
                <div class="row">

                    @*<div class="col-md-9">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                                            Collapsible Group Item #1
                                            <i class="fa fa-lg fa-angle-down pull-right"></i>
                                            <i class="fa fa-lg fa-angle-up pull-right"></i>
                                        </a>
                                    </h4>
                                </div> <!-- .panel-heading -->
                                <div id="collapse-1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div> <!-- .panel-body -->
                                </div> <!-- #collapse-1 -->
                            </div> <!-- .panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
                                            Collapsible Group Item #2
                                            <i class="fa fa-lg fa-angle-down pull-right"></i>
                                            <i class="fa fa-lg fa-angle-up pull-right"></i>
                                        </a>
                                    </h4>
                                </div> <!-- .panel-heading -->*@

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-2-6" class="collapsed">
                                    <i class="fa fa-fw fa-lg fa-plus"></i>
                                    <i class="fa fa-fw fa-lg fa-minus"></i>
                                    Advanced Search
                                </a>
                            </h4>
                        </div> <!-- .panel-heading -->

                        <div id="collapse-2-6" class="panel-primary">
                            <div class="panel-body">
                                <table cellpadding="5">
                                    <tr>
                                        <th>Taxonomy:</th>
                                        <th></th>
                                    </tr>

                                    <tr>
                                        <td>
                                            Any Taxon, ID, Common Name:
                                        </td>

                                        <td>
                                            @Html.TextBox("anyTax")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Identification:
                                        </td>
                                        <td>
                                            @Html.TextBox("Identification")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Common Name:
                                        </td>
                                        <td>
                                            @Html.TextBox("commonName")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Natural Order Class:
                                        </td>

                                        <td>
                                            @Html.TextBox("naturalOrderClass")
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>
                                            Natural Order SubClass:
                                        </td>
                                        <td>
                                            @Html.TextBox("naturalOrderSubclass")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Primary Term:
                                        </td>
                                        <td>
                                            @Html.TextBox("primaryTerm")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>

                                            Secondary Term:
                                        </td>
                                        <td>
                                            @Html.TextBox("saturdayTerm")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Tertiary Term:
                                        </td>
                                        <td>
                                            @Html.TextBox("tertiaryTerm")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Non-Preferred Term:
                                        </td>
                                        <td>
                                            @Html.TextBox("nonPreferredTerm")
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            Description:
                                        </td>
                                        <td>
                                            @Html.TextBox("Description")
                                        </td>
                                    </tr>



                                    <tr>
                                    <tr>
                                        <td>
                                            Author:
                                        </td>
                                        <td>
                                            @Html.TextBox("author")
                                        </td>
                                    </tr>

                                    <tr>
                                    <tr>
                                        <td>
                                            Creator/Maker Manufacturer:
                                        </td>

                                        <td>
                                            @Html.TextBox("maker")
                                        </td>

                                        <td>
                                            Date of Manufacture:
                                        </td>

                                        <td>
                                            @Html.TextBox("manuDate")
                                        </td>

                                    </tr>
                                    <tr>
                                    <tr>
                                        <td>
                                            Check for Synonyms:
                                        </td>
                                        <td>
                                            @Html.CheckBox("syn")
                                            <label for="Synonyms">Synonyms</label>
                                        </td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td>
                                            Check to Include Parts:
                                        </td>
                                        <td>
                                            @Html.CheckBox("parts")
                                            <label for="Parts">Parts</label>
                                        </td>
                                    </tr>
                                    <tr>
                                </table>


                                <hr>


                                <table cellpadding="5">
                                    <tr>
                                        <th>Speciman Related:</th>
                                        <th></th>
                                    </tr>

                                    <tr>
                                        <td>
                                            Any Identifier:
                                        </td>
                                        <td>
                                            @Html.TextBox("anyId")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Catalog Number:
                                        </td>

                                        <td>
                                            @Html.TextBox("catalogNum")
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Accession:
                                        </td>
                                        <td>
                                            @Html.TextBox("accession")
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            GUID:
                                        </td>
                                        <td>
                                            @Html.TextBox("GUID")
                                        </td>
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td>
                                            Size:
                                        </td>
                                        <td>
                                            @Html.TextBox("size")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Condition:
                                        </td>
                                        <td>
                                            @Html.TextBox("condition")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Condition Remarks:
                                        </td>
                                        <td>
                                            @Html.TextBox("conditionRemarks")
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Other Identifier Type:
                                        </td>
                                        <td>
                                            @Html.TextBox("otherId")
                                        </td>
                                    </tr>

                                </table>
                                <hr>


                                <table cellpadding="5">
                                    <tr>
                                        <th>
                                            Locality:
                                        </th>
                                        <th>
                                            
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            Continent / Ocean:
                                        </td>

                                        <td>
                                            @Html.TextBox("Continent")
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Country:
                                        </td>

                                        <td>

                                            @Html.TextBox("Country")


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Province/Territory/State:
                                        </td>
                                        <td>
                                            <select id="State">
                                                @Html.TextBox("State")

                                            </select>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            County:
                                        </td>
                                        <td>
                                            @Html.TextBox("County")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Locality Remarks:
                                        </td>

                                        <td>
                                            @Html.TextBox("localityRemarks")
                                        </td>
                                    </tr>
                                </table>


                                <div class="col-md-3">
                                    <button type="button">Clear</button>
                                    @*<a href=" /SearchResults"><button type="button">Search</button></a>*@
                                    @*<a href=" /SearchResults"></a><button type="button">Search</button>*@
                                    <input type="submit" value="Search"/>
                                </div>



                            </div> <!-- .panel-body -->
                        </div> <!-- #collapse-2-6 -->

                    </div> <!-- .panel -->
                </div>
            </div>
        </section>
    } <!--End of Form-->
</div>
    @*End of Ethnology Tab*@
</div>

    @*Scripts for the accordian*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../js/prism.min.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/chart.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="../../js/gmaps.min.js"></script>
    <script src="../../js/magnific-popup.min.js"></script>
    <script src="../../js/masonry.min.js"></script>
    <script src="../../js/imagesLoaded.min.js"></script>
    <script src="../../js/dataTables.min.js"></script>
    <script src="../../js/dataTables.bootstrap.min.js"></script>
    <script src="../../js/scripts.min.js"></script>

    @*Scripts for the Tabs*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../js/prism.min.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/chart.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="../../js/gmaps.min.js"></script>
    <script src="../../js/magnific-popup.min.js"></script>
    <script src="../../js/masonry.min.js"></script>
    <script src="../../js/imagesLoaded.min.js"></script>
    <script src="../../js/dataTables.min.js"></script>
    <script src="../../js/dataTables.bootstrap.min.js"></script>
    <script src="../../js/scripts.min.js"></script>

</body>
</html>
